.btn-success {
  padding: 15px 31px;
  color: #fefcf7;
  text-align: center;
  font-family: 'Fraunces';
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  border-radius: 6px;
  background: #0e8784;
}
